<div id='messages' hx-swap-oob='beforeend'>
    <div class="d-flex justify-content-start my-2">
        <div class='bg-dark mx-2'
                style='min-width: 40px; max-width: 40px; max-height: 40px; min-height: 40px; border-radius: 20px;'>
        </div>
        <div class="d-flex flex-column align-items-start">
            <p class='text-bg-light rounded p-2 mb-0'
                style="max-width: 400px;"
            >
                {{ message.content }}
            </p>
            <p class="bg-light rounded p-1 small tex-muted text-end w-auto"
                style="max-width: 160px;"
            >
                {{ message.timestamp }}
            </p>
        </div>
    </div>
</div>